<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Popular Cities & Airports</title>
</head>
<body>
<ul>
    {{range .Cities}}
    <li>{{.City}} - {{.State}}</li>
    {{end}}
</ul>
<ul>
    {{range .Airports}}
    <li>{{.Name}} - {{.Terminals}}</li>
    {{end}}
</ul>
</body>
</html>