<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cities in America</title>
</head>
<body>
<ul>
    {{range .}}
    <li>{{.City}} - {{.State}}</li>
    {{end}}
</ul>
</body>
</html>